#!/bin/bash

export SERVER_HOST="localhost"
export SERVER_PORT=50051
export DB_NAME="sustaindb"
export DB_HOST="lattice-100"
export DB_PORT=27017
export SPARK_MASTER="spark://lattice-100:8079"
export SPARK_EXECUTOR_CORES=5
export SPARK_EXECUTOR_MEMORY="8G"
export SPARK_INITIAL_EXECUTORS=5
export SPARK_MIN_EXECUTORS=1
export SPARK_MAX_EXECUTORS=10
export SPARK_BACKLOG_TIMEOUT="10s"
export SPARK_IDLE_TIMEOUT="10s"
